<!-- views/partials/header.ejs -->
<!--
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
      <div class="navbar-header">
          <span class="glyphicons glyphicons-music"></span>
      </div>
      <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="/work">Work</a></li>
              <li><a href="/contact">Contact</a></li>
              </ul>
  </div>
</nav>

-->
