<!DOCTYPE html>
<html>
  <!-- Head Partial -->
  <head>
    <% include ../views/partials/head %>
  </head>
  <!-- Header Partial -->
  <header>
    <!-- Nav bar, not used -->
    <% include ../views/partials/header %>
  </header>
  <!-- Body start -->
  <body class="container text-center">
    <main>
      <div class="row">
        <div class="main">
          <h1 class="text-center myName">Josh Hickman</h1>
            <div class="text-center photo">
            <img class="text-center mainPhoto " src="/josh.jpg">
            </div>
            <div class="aboutMe text-center"
              <p>Josh Hickman is a junior software engineer currently living in Los Angeles, CA.
                Josh is a numbers guy with creative tendencies. He's deeply interested in the fintech and music industries. With a belief that fintech can be used to better faciltate the music payments eco-system, he looks forward to a time where artists can be rewarded their due share.
                Josh has over two years of entrepreneurship experience  while running Infinit Records, a boutique recording studio and music publisher he founded in 2013 back in Portland, Oregon.
                When he’s not working on web projects, Josh likes to produce and mix music.
                He has over four years experience working in professional recording studios and In 2015, he was selected for an apprenticeship working for Grammy award winning audio engineer Derek Ali’s EngineEars recording studio located in West Hollywood, CA.
                A 2013 Graduate of Portland State University’s School of Business, Josh holds a Bachelor of Science in Finance.
                He is an active member of the LA programming community and regularly attends local Meet-ups.
                Josh is currently taking select freelance web projects, get in touch to discuss further</p>
                <hr />
            </div>

            <div class="contactButtons text-center">
              <ul class="socials text-center">
                <li>
                  <a href="https://twitter.com/jahosh_" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
                </li>
                <li>
                  <a href="https://www.github.com/jahosh" target="_blank"><i class="fa fa-github fa-2x"></i></a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/in/josh-hickman-3b6a2051" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>
                </li>
              </ul>




            </div>
        </div>
    </main>



    <footer>
      <!-- not used -->
      <% include ../views/partials/footer %>
    </footer>

  </body>
</html>
