<!DOCTYPE html>
<html>
  <head>
    <% include ../views/partials/head %>
  </head>
  <body class="container">

    <header>
      <% include ../views/partials/header %>
    </header>

    <main>
      <div class="jumbotron">
        <h1 class="text-center">Work</h1>
        <p class="text-center">A few projects I've been involed with:</p>
      </div>
    </main>



    <footer>
      <% include ../views/partials/footer %>
    </footer>

  </body>
</html>
