body {
  font-family: 'Fjallo One', sans-serif;
  font-size: 15px;
}

.myName {
  font-size:80px;
}

.mainPhoto {
  border: 1px solid black;
			border-radius:50%;
      position: center;
      margin-bottom: 20px;
}

/* about me section */
.main {
  margin-top: 30px;
  margin-bottom: 100px;
  padding: 5px;
  border: 5px solid black;
  margin:0 auto;
}

.footer {
  margin-top: 20px;
}

/* dividing line */
hr {
  margin: 0 25px;
	padding: 0;
	border: none;
	border-top: medium double #333;
	color: #333;
	text-align: center;
}

.contactButtons {
  padding-top: 15px;
}

ul.socials li {
  list-style-type:none;
  display: inline;
  padding: 75px;

}

ul.socials li:hover {
  color:red;
}

ul.socials li


.twitterLogo {
  width: 100px;
}

.githubLogo {
  width: 100px;
}

#errorMessage {
  color:red;
}

.fa {
  color:black;
}

.fa:hover {
  color:grey;
}
